<a href="https://colab.research.google.com/github/Zerowl7/EDA/blob/main/Univarate_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbHZIWTlHd09xQ2lKblVtX2NNY3NMcnRXTF9Wd3xBQ3Jtc0trRDQ4RVp5TEtOUElpYkx2d0hhR2dYcFlMaDZDdXhpQ3QxV0Y4VXc5Z1BtTmJCUGpLUlFKYzhkMUh6bkd6YVN6OHMydk1jLWNweFVXNTdkakl0bHhra3FVM2taTG1JS3ZYalFOSTFTdXdKMnU2RkpLYw&q=https%3A%2F%2Fwww.kaggle.com%2Fmirichoi0218%2Finsurance&v=78ut-S-QOEQ

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('http://www.ishelp.info/data/insurance.csv')

In [8]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [9]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [10]:
df.shape

(1338, 7)

In [13]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [15]:
print(f'age: {df.age.count()}')
print(f'sex: {df.sex.count()}')
print(f'bmi: {df.bmi.count()}')
print(f'children: {df.children.count()}')
print(f'smoker: {df.smoker.count()}')
print(f'region: {df.region.count()}')
print(f'charges: {df.charges.count()}')

age: 1338
sex: 1338
bmi: 1338
children: 1338
smoker: 1338
region: 1338
charges: 1338

In [16]:
print(f'age: {df.age.nunique()}')
print(f'sex: {df.sex.nunique()}')
print(f'bmi: {df.bmi.nunique()}')
print(f'children: {df.children.nunique()}')
print(f'smoker: {df.smoker.nunique()}')
print(f'region: {df.region.nunique()}')
print(f'charges: {df.charges.nunique()}')

age: 47
sex: 2
bmi: 548
children: 6
smoker: 2
region: 4
charges: 1337

Проверяет тип данных

In [18]:
print(f'age: {df.age.dtype}')
print(f'sex: {df.sex.dtype}')
print(f'bmi: {df.bmi.dtype}')
print(f'children: {df.children.dtype}')
print(f'smoker: {df.smoker.dtype}')
print(f'region: {df.region.dtype}')
print(f'charges: {df.charges.dtype}')

age: int64
sex: object
bmi: float64
children: int64
smoker: object
region: object
charges: float64

Есть ли нули

In [20]:
print(f'age: {df.age.isnull().sum()}')

age: 0

In [22]:
import numpy as np

Поиск стандартного отклонения

In [25]:
np.std(df.charges, ddof=1)

12110.011236694001

In [26]:
from scipy.stats import kurtosis, skew

In [28]:
print(skew(df.charges,bias=False))
print(kurtosis(df.charges,bias=False))

1.5158796580240383
1.6062986532967916